$primary: #333333;
$ete-green: #347768ff;
$ete-dark-green: rgb(24, 80, 68);
$ete-green-op: #347768dd;
$form-gray: rgb(244, 244, 245);
$warning-pink: rgba(255, 228, 230, 0.5);
$warning-red: rgba(244, 63, 94, 0.5);
$success-turq: rgba(204, 251, 241, 0.5);
$success-green: rgba(20, 184, 166, 0.5);
$warning-pink-op: rgba(255, 228, 230, 0.2);
$warning-red-op: rgba(244, 63, 94, 0.2);
$success-turq-op: rgba(204, 251, 241, 0.2);
$success-green-op: rgba(20, 184, 166, 0.2);
$warning-pink-op-2: rgba(255, 228, 230, 0.1);
$warning-red-op-2: rgba(244, 63, 94, 0.1);
$success-turq-op-2: rgba(204, 251, 241, 0.1);
$success-green-op-2: rgba(20, 184, 166, 0.1);
$white: #ffffff;

$e-palet-green-1: #6b857f;
$e-palet-green-2: #377668;
$e-palet-green-3: #60746c;
$e-palet-gray-1: #efefef;
$e-palet-gray-2: #d2d4d3;
$e-palet-gray-3: #d3ccd4;
$e-palet-whitegray-1: #aeaeae;
$e-palet-whitegray-2: #9e9f9f;
$e-palet-whitegray-3: #676969;
$e-palet-whitegray-4: #222222;

$e-palet-whitegray-1-op: #aeaeaedd;

$text-color-1: #efefefff;
$text-color-2: #111111;

$table-header-1: #000000;
$table-header-2: #ababab;
$table-row-1: #121212;
$table-row-2: #232323;
$table-row-3: #cdcdcd;
$table-row-4: #dfdfdf;
